/*-----變數------*/
:root {
  --bg-color: rgba(204, 221, 238, 1);
}
/* ================================= 
  Base Element Styles
==================================== */
* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  margin: 0;
}

body,
a {
  color: #3a3a3a;
  margin: 0;
}
a {
  text-decoration: none;
  align-items: center;
}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

/*---------- Icon ---------*/
img {
  width: 1.5rem;
}
.icon-container {
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
}
.icon-btn-container {
  border: none;
  background-color: transparent;
  width: 2.5rem;
  height: 2.5rem;
}

.content-btn {
  background-color: var(--bg-color);
  border: none;
  padding: 0.8rem 1rem;
  margin: 1.5rem auto;
  text-align: center;
  /* text-decoration: none; */
}
/* ================================= 
  Base Layout Styles
==================================== */

/* ---- Layout Containers ---- */

.main-header,
.name,
.navbar {
  display: flex;
}

.main-header {
  margin: 0 1em;
}

header {
  justify-content: space-between;
}
.navbar {
  align-items: center;
}

.banner,
.content,
.main-footer {
  text-align: center;
}

.content {
  margin: 1rem;
}
/*---------- Header---------*/

.name {
  /* margin: 0.25rem; */
  padding: 0.25rem;
}

.name-title {
  font-size: 1rem;
  margin: 0 0 0 -0.5rem;
}
li {
  font-size: 1rem;
}
.menu-item {
  margin: auto 20px;
  padding: 0.5rem;
}
.menu-container {
  display: none;
}
.floating-side-menu-container {
  display: flex;
  justify-content: space-between;
  /* overflow-x: hidden; */
  padding: 0.25rem 1rem;
  height: 100%;
  width: 240px;
  position: fixed;
  right: -240px;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.98);
  transition: 0.5s ease;
}

.side-menu-item {
  height: 40px;
  margin-bottom: 1rem;
  padding: 0.75rem 5rem 0.75rem 1rem;
}

/*---------- Main ---------*/

.banner {
  background-color: var(--bg-color);
  padding: 1rem;
}
.banner-heading-container {
  padding: 1rem 0;
  margin: 3rem 0;
}

.content-heading {
  padding: 1rem;
}

.box {
  background: rgba(136, 153, 170, 1);
  height: 8rem;
  margin: 0;
  margin-top: 1rem;
  padding: 0.5rem;
}

.main-footer {
  background-color: var(--bg-color);
  padding: 0.5rem;
  min-height: 10vh;
}
/*---------- Media Queries ---------*/

@media screen and (min-width: 500px) {
  .content-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 1200px;
    margin: 0 auto;
  }
  .box {
    width: 48%;
  }
  @media screen and (min-width: 800px) {
    .icon-btn-container {
      display: none;
    }
    .menu-container,
    .menu {
      display: flex;
    }
  }
}
