@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}
body {
  background-color: rgb(221, 230, 238);
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.product-item {
  width: 320px;
  height: auto;
  background: #fff;
  border-radius: 1rem;
  padding: 1.5rem;
  margin: 0.8rem;
  min-width: 20rem;
}

.product-name {
  color: #333333;
  padding: 1rem 0;
  font-size: 1.5rem;
}
.product-price {
  color: #211f63;
  font-size: 1rem;
}
.product-description {
  padding: 1rem 0;
  font-size: 1rem;
}
